
/*
    Main color: #466596
    Border color: #9BACC6
*/


/* Content */
.f-widget-content {
    border-color: #c5c5c5;
    background-color: #fff;
    color: #444;
}

    .f-widget-content a {
        color: #444;
    }

/* Header */
.f-widget-header {
    border-color: #c5c5c5;
    background-color: #EBEBEB;
    color: #444;
}

    .f-widget-header a {
        color: #444;
    }

    /* States */
    .f-state-default,
    .f-widget-content .f-state-default,
    .f-widget-header .f-state-default {
        border-color: #c5c5c5;
        background-color: #ffffff;
        color: #444;
    }

        .f-state-default a,
        .f-state-default a:link,
        .f-state-default a:visited {
            color: #444;
        }

    .f-state-hover,
    .f-widget-content .f-state-hover,
    .f-widget-header .f-state-hover,
    .f-state-focus,
    .f-widget-content .f-state-focus,
    .f-widget-header .f-state-focus {
        border-color: #9BACC6;
        background-color: #fafafa;
        color: #466596;
    }

        .f-state-hover a,
        .f-state-hover a:hover,
        .f-state-hover a:link,
        .f-state-hover a:visited,
        .f-state-focus a,
        .f-state-focus a:hover,
        .f-state-focus a:link,
        .f-state-focus a:visited {
            color: #466596;
        }

    .f-state-active,
    .f-widget-content .f-state-active,
    .f-widget-header .f-state-active {
        border-color: #9BACC6;
        background-color: #eee;
        color: #466596;
    }

        .f-state-active a,
        .f-state-active a:link,
        .f-state-active a:visited {
            color: #466596;
        }


    .f-state-highlight,
    .f-widget-content .f-state-highlight,
    .f-widget-header .f-state-highlight {
        border-color: #BF8A8A;
        background-color: #fff;
        color: #000;
    }

        .f-state-highlight a,
        .f-widget-content .f-state-highlight a,
        .f-widget-header .f-state-highlight a {
        }

    .f-state-error,
    .f-widget-content .f-state-error,
    .f-widget-header .f-state-error {
        border-color: #ffa8a8;
        background-color: #fff8f8;
        color: #000;
    }

        .f-state-error a,
        .f-widget-content .f-state-error a,
        .f-widget-header .f-state-error a {
        }

    .f-state-error-text,
    .f-widget-content .f-state-error-text,
    .f-widget-header .f-state-error-text {
        color: #000;
    }

    .f-state-disabled,
    .f-widget-content .f-state-disabled,
    .f-widget-header .f-state-disabled {
        opacity: .5;
        filter: alpha(opacity=50);
        background-image: none;
    }

        .f-state-disabled .f-icon {
            filter: alpha(opacity=50);
        }

/* Icon font */
.f-icon,
.f-widget-content .f-icon {
    color: #888;
}

.f-widget-header .f-icon {
    color: #888;
}

.f-state-default .f-icon {
    color: #888;
}

.f-state-hover .f-icon,
.f-state-focus .f-icon {
    color: #466596;
}

.f-state-active .f-icon {
    color: #466596;
}

.f-state-highlight .f-icon {
    color: #466596;
}

.f-state-error .f-icon,
.f-state-error-text .f-icon {
    color: #ff6c6c;
}


/* Round corner */
.f-corner-all,
.f-corner-top,
.f-corner-left,
.f-corner-tl {
    border-top-left-radius: 4px;
}

.f-corner-all,
.f-corner-top,
.f-corner-right,
.f-corner-tr {
    border-top-right-radius: 4px;
}

.f-corner-all,
.f-corner-bottom,
.f-corner-left,
.f-corner-bl {
    border-bottom-left-radius: 4px;
}

.f-corner-all,
.f-corner-bottom,
.f-corner-right,
.f-corner-br {
    border-bottom-right-radius: 4px;
}


/* CheckBox - RadioButton */
.f-checkbox.f-checked,
.f-checkbox.f-checkbox-indeterminate {
    background-color: #466596;
    border-color: #466596;
}
.f-radiobutton:after {
    background-color: #466596;
}
.f-radiobutton.f-checked {
    border-color: #466596;
}

.f-state-focus .f-checkbox,
.f-state-focus .f-radiobutton {
    border-color: #6e98da;
}
.f-state-focus .f-checkbox.f-checked {
    border-color: #6e98da;
    background-color: #6e98da;
}
.f-state-focus .f-radiobutton.f-checked {
    border-color: #6e98da;
}
.f-state-focus .f-radiobutton.f-checked:after {
    background-color: #6e98da;
}

.f-menu-item-icon.f-menu-radiobutton.f-checked {
	color: #466596;
}




.f-field-checkbox-switch.f-checked {
    background-color: #466596;
    border-color: #466596;
}
.f-state-focus.f-field-checkbox-switch.f-checked {
    background-color: #6e98da;
    border-color: #6e98da;
}
.f-state-focus.f-field-checkbox-switch {
    background-color: #bbb;
    border-color: #bbb;
}




/* Special - header active state */
.f-widget-header .f-state-active {
    background-color: #fff;
}

/* Special - Remove border-color for hover state */
.f-tab-header.f-state-active,
.f-tab-header.f-state-hover,
.f-grid-colheader-trigger.f-state-hover,
.f-grid-colheader.f-state-hover {
    border-color: #c5c5c5;
}


/* Special - TabStrip */
.f-tabstrip-plain > .f-panel-bodyct > .f-panel-body,
.f-tabstrip-plain > .f-panel-header,
.f-tabstrip-plain > .f-panel-header .f-panel-tools,
.f-tabstrip-bordercolor .f-tab-header {
    border-color: #c5c5c5;
}

.f-tabstrip-plain > .f-panel-bodyct > .f-toolbar {
    border-left-color: #c5c5c5;
    border-right-color: #c5c5c5;
}

.f-tabstrip-plain.f-tabstrip-header-top > .f-panel-header .f-tabstrip-scroller,
.f-tabstrip-plain.f-tabstrip-header-right > .f-panel-header .f-tabstrip-scroller {
    border-bottom-color: #c5c5c5;
}

.f-tabstrip-plain.f-tabstrip-header-bottom > .f-panel-header .f-tabstrip-scroller,
.f-tabstrip-plain.f-tabstrip-header-left > .f-panel-header .f-tabstrip-scroller {
    border-top-color: #c5c5c5;
}

.f-tab-header.f-state-active {
    background-color: #fff;
}


.f-tabstrip-header .f-tab-header.f-state-active:after {
	background-color: #f3f3f3;
}
.f-tab-header.f-state-active .f-icon {
	color: #466596;
}

.f-tabstrip-header .f-tabstrip-header-inkbar {
	background-color: #466596;
}
.f-tabstrip-inkbar > .f-tabstrip-header .f-tab-header.f-state-active {
	background-color: #f3f3f3;
}



/* Special - Grid selected cell */
.f-grid-selectedcell-border {
    border-color: #c5c5c5 !important;
}



/* Special - Grid selected row */
.f-grid-row.f-state-active {
    background-color: #DBE6F5;
    color: #444;
}

    .f-grid-row.f-state-active a,
    .f-grid-row.f-state-active a:link,
    .f-grid-row.f-state-active a:visited {
        color: #444;
    }

    .f-grid-row.f-state-active .f-icon {
        color: #466596;
    }

/* Special - Tree header style */
.f-tree-headerstyle .f-panel-body {
    background-color: #EBEBEB;
}

.f-tree-headerstyle .f-tree-node.f-tree-node-toplevel .f-tree-cell-inner,
.f-tree-minimode-item-inner {
    border-color: #c5c5c5;
}

.f-toolbar-buttonplain,
.f-toolbar-buttonplain .f-buttongroup .f-btn:after {
    border-color: #c5c5c5 !important;
}


/* Special - Button pressed state */
.f-btn.f-state-active {
    background-color: #466596;
    color: #fff;
}

    .f-btn.f-state-active .f-icon {
        color: #fff;
    }


/* Special - Main header */
.f-widget-header.f-mainheader {
    border-color: #fff;
    background-color: #d0d0d0;
    color: #444;
}

    .f-widget-header.f-mainheader a,
    .f-widget-header.f-mainheader .f-icon {
        color: #444;
    }


/* Special - Sub header */
.f-widget-header.f-subheader {
    background-color: #fff;
}




/* Special - MessageBoxIcon */
.f-messagebox-icon.f-messageicon-information,
.f-messagebox-icon.f-messageicon-question {
    color: #466596;
}


body.f-body-bgcolor {
    background-color: #f3f3f3;
}

.f-grid-row.f-grid-row-newadded > .f-grid-cell:first-child > .f-grid-cell-inner:after {
	color: #466596;
}



.f-grid-show-selected-cell .f-grid-cell-selected {
    background-color: #d1d6e5;
    color: #444;
}
.f-grid-show-selected-cell .f-grid-cell-selected .f-icon {
	color: #466596;
}



.mainpanel .sidebarregion .leftregion,
.mainpanel .bodyregion .centerregion {
    border-width: 0;
}
.mainpanel .bodyregion .centerregion .f-tabstrip-header {
    border-width: 0;
}