@page
@model Park.Mobile.Pages.LoginModel
@{
    ViewBag.Title = "Login";
    var F = @Html.F();
}


@section body {

    <div>
        用户名：admin
        <br>
        密码：admin
        <br>
        <br>
        <br>
        注意：在任意输入框内按回车键都会触发表单的提交（相当于点击【登陆】按钮）。
    </div>

    <f:Window Width="350" WindowPosition="GoldenSection" EnableClose="false" IsModal="false" Title="登录表单" ID="Window1">
        <Items>
            <f:SimpleForm ShowHeader="false" LabelWidth="80" BodyPadding="10" ShowBorder="false" ID="SimpleForm1">
                <Items>
                    <f:TextBox ShowRedStar="true" Required="true" Label="用户名" ID="tbxUserName"></f:TextBox>
                    <f:TextBox ShowRedStar="true" Required="true" TextMode="Password" Label="密码" ID="tbxPassword"></f:TextBox>
                </Items>
            </f:SimpleForm>
        </Items>
        <Toolbars>
            <f:Toolbar Position="Bottom" ToolbarAlign="Right" ID="Toolbar1">
                <Items>
                    <f:Button OnClick="@Url.Handler("btnLogin_Click")" OnClickFields="SimpleForm1" ValidateTarget="Top" ValidateForms="SimpleForm1" Type="Submit" Text="登录" ID="btnLogin"></f:Button>
                    <f:Button Type="Reset" Text="重置" ID="btnReset"></f:Button>
                </Items>
            </f:Toolbar>
        </Toolbars>
    </f:Window>



}


