#header table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

    #header table td {
        padding: 0;
    }

#header .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}



#header .f-btn {
    border-width: 0;
    padding: 10px;
}

#header .icontopaction .f-btn-icon {
    width: 22px;
    font-size: 22px;
    line-height: 22px;
    height: 22px;
}

#header .icontopaction .f-btn-text {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
}


#header .icononlyaction .f-btn-icon,
#header .icononlyaction .f-btn-text {
    font-size: 30px;
    line-height: 42px;
    height: 42px;
}


#header .userpicaction .f-btn-icon {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin: 0;
}

#header .userpicaction .f-btn-text {
    margin-left: 8px;
    font-size: 14px;
    line-height: 42px;
}



ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    ul.list li {
        margin-bottom: 5px;
    }


.iscorp {
    color: red;
    font-size: 11px;
    line-height: 11px;
}



.tabtool.viewcode .f-icon {
    font-weight: bold;
}



.logo-subtitle {
    position: absolute;
    top: 5px;
    left: 250px;
    font-size: 12px;
    font-weight: normal;
    opacity: 0.5;
    filter: alpha(opacity=50);
}